$footer-height: 100px;

html {
  overflow-y: scroll;
  overflow-x: hidden;
}
.placeholder {
  color: #aaa;
}

html, body {
  height: 100%;
}

.wrapper {
  position: relative;
  min-height: 100%;
  height: auto !important;
  margin: 0 auto (-$footer-height);
}

body {
  *zoom: 1;
  width: 100%;
  padding-top: $navbar-height + 1px;
}

.input-group .input-group-btn {
  z-index: 8;
  button {
    height: 34px;
  }
}

footer, .push {
  min-height: $footer-height;
}

footer {
  padding-top: 20px;
}

.c-pad-top {
  padding-top: 20px;
}

&.loading:after {
  content: '';
  position: absolute;
  top: 0;
  right:0;
  left: 0;
  bottom: 0;
  background: rgba(250,250,250,0.5) url('/img/ajax-loader.gif') no-repeat center center;
  z-index: 9;
}

.dataTable {
  border: 1px solid #ccc;
  th {
    font-size: 13px;
  }
  td {
    font-size: 13px;
  }
  .nowrap {
    max-width: 400px;
    //min-width: 70px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

table.table.table-small-type {
  th {
    font-size: 14px;
  }
  td {
    font-size: 12px;
  }
}

a.emph {
  text-decoration: underline;
}

.wrapper .content {
  padding-top: 15px;
}